kind: Service
apiVersion: v1
metadata:
  name: object-storage-service
  namespace: petbook
  labels:
    app: object-storage-service
    version: v1
spec:
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
  selector:
    app: object-storage-service
  type: ClusterIP
  sessionAffinity: None
---

kind: Deployment
apiVersion: apps/v1
metadata:
  name: object-storage-service
  namespace: petbook
  labels:
    app: object-storage-service
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: object-storage-service
      version: v1
  template:
    metadata:
      labels:
        app: object-storage-service
        version: v1
    spec:
      containers:
        - image: $REGISTRY/$DOCKERHUB_NAMESPACE/object-storage-service:latest
          name: object-storage-service
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 5
            failureThreshold: 5
            periodSeconds: 10
          ports:
            - containerPort: 8080
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
          volumeMounts: # 在这里挂载宿主机目录到容器内部
            - name: nfs-petbook-image
              mountPath: /petbook/image
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      schedulerName: default-scheduler
      volumes: # 定义 Volume，将宿主机目录与容器内部目录关联
        - name: nfs-petbook-image
          hostPath:
            path: /nfs/petbook/image  # 宿主机上的目录路径
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600

