spring:
  profiles:
    active: dev

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: socket-io-route
          uri: lb:ws://socket-service-provider/socket.io/
          predicates:
            - Path=/socket.io/**

        - id: user-authentication-service
          uri: lb://user-authentication-service
          predicates:
            - Path=/oauth/token

        - id: user-service
          uri: lb://user-service-consumer
          predicates:
            - Path=/user/**,/users/**

        - id: post-service
          uri: lb://post-service-consumer
          predicates:
            - Path=/post/**,/posts/**

        - id: pet-service
          uri: lb://pet-service-consumer
          predicates:
            - Path=/pet/**,/pets/**

        - id: interaction-service
          uri: lb://interaction-service-consumer
          predicates:
            - Path=/lovePost/**,/lovePosts/**,/mentions/**,/mention/**,/subscription/**

        - id: friend-service
          uri: lb://friend-service-consumer
          predicates:
            - Path=/friend/**,/friends/**,/friendRequest/**,/friendRequests/**

        - id: comment-service
          uri: lb://comment-service-consumer
          predicates:
            - Path=/comment/**,/comments/**,/subcomment/**,/subcomments/**

        - id: chat-service
          uri: lb://chat-service-consumer
          predicates:
            - Path=/chat/**

management:
  endpoints:
    web:
      exposure:
        include: '*'
