spring:
  datasource:
    hikari:
      minimum-idle: 4
      maximum-pool-size: 16
      connection-timeout: 10000
      idle-timeout: 30000
    dynamic:
      seata: true
      seata-mode: xa
      primary: master
      strict: false
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.239.151:30002/db02?useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true&allowMultiQueries=true&serverTimezone=Australia/Sydney
          username: root
          password: 123456
        slave:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://192.168.239.151:30003/db02?useUnicode=true&characterEncoding=UTF-8&rewriteBatchedStatements=true&allowMultiQueries=true&serverTimezone=Australia/Sydney
          username: root
          password: 123456

seata:
  config:
    type: nacos
    nacos:
      server-addr: 192.168.239.151:31500
      group: SEATA_GROUP
      data-id: seataServer.properties
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: 192.168.239.151:31500
      group: SEATA_GROUP
      namespace: ""
      cluster: default
  tx-service-group: mygroup
  service:
    vgroup-mapping:
      mygroup: default
  data-source-proxy-mode: XA
  enable-auto-data-source-proxy: false
  enabled: true


